.item-select select{
    right: inherit;
}
.m-left{
	width: 25%;
	float: left;
}
.m-right{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.shopinng .jia-box,.confirm .jia-box{
    bottom: 0.7rem;
}
.jia-box {
    position: absolute;
    bottom: 1rem;
    right: 0;
    line-height: 1.8rem;
    font-size: 1rem;
    z-index: 999;
}
.jian,.jia{
    color: #000;
    border-radius: 50%;
    display: inline-block;
    width: 1.8rem;
    height: 1.8rem;
    text-align: center;
    margin: 0 0.2rem;
    box-sizing: border-box;

}
.leftList .item,.rightList .item{
    /*border-top: 0;*/
    border: 0 !important;
}
.num{
	border: 1px solid transparent;
}
.jia{
  background-color: #FEB252;
  border: 1px solid #FEB252;
}

.jian{
    background-color: #FEB252;
    border: 1px solid #FEB252;
}
.gouwuche{
    width: 3rem;
    height: 3rem;
    font-size: 2rem;
    background-color: #FEB252;
    border-radius: 50%;
    line-height: 3rem;
    color: #171717;
    text-align: center;
    position: absolute;
    top: -0.7rem;
}
.gouwuche span{
    display: inline-block;
    border-radius: 50%;
    width: 1.2rem;
    height: 1.2rem;
    line-height: 1.2rem;
    font-size: 0.8rem;
    background-color: #ff3135;
    color: #fff;
    position: absolute;
    top: -0.2rem;
    right: -0.2rem;
}
.zongjia{
    margin-left: 4.5rem;
    margin-top: -0.5rem;
    /*color: #fff*/
}
.jiesuan{
    position: absolute;
    right: 0;
    top: 0;
    width: 10rem;
    height: 100%;
    background-color: #F85747;
    border: 1px solid #F85747;
    text-align: center;
    line-height: 3rem;
    color: #000;
    font-size: 1.2rem;
}
.footer{
    position: absolute;
    bottom: 0;
    height: 3rem;
    width: 100%;
    background-color: #434343;
    box-sizing: border-box;
    padding: 1rem;
}
.top-menu{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background-color: #11c1f3;
}
.menu-top{
    width: 8rem;
    height: 2.5rem;
    line-height: 2.5rem;
    text-align: center;
    background-color: #11c1f3;
}
.top-menu ul{

}
.top-menu ul li{
    width: 8rem;
    height: 2.5rem;
    line-height: 2.5rem;
    text-align: center;
    background-color: #11c1f3;
    border: 0;
}
.xiaoqiu{
    display: inline-block;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    line-height: 1.2rem;
    font-size: 0.8rem;
    background-color: #ff3135;
    color: #fff;
    position: fixed;
    top: 37.9rem;
    right: 1rem;
    z-index: 999;
}
.shopinng{
    position: absolute;
    height: auto;
    left: 0;
    right: 0;
    bottom: 0;
    box-sizing: border-box;
    padding: 0 0 3rem 0;
    background-color: #0c60ee;
}
.xuanting{
  background-color:#E5E5E5;
}
li.xuanting:hover {color:#000000;}
