<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>订单结算页</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<!--标准mui.css-->
		<link rel="stylesheet" href="../../static/mui/css/mui.min.css">
		<!--App自定义的css-->
		<link rel="stylesheet" type="text/css" href="../../static/mui/css/app.css" />
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">订单已完成</h1>
		</header>
		<div class="mui-content">
			
			<div class="mui-card">
				<div class="mui-card-header">您的订单已完成，请及时支付</div>
				<div class="mui-card-content">
					<div class="mui-card-content-inner">
						<img style="width: 300px;height: 400px;" src="../../static/zhifu.jpg" alt="">
					</div>
				</div>
				<div class="mui-card-footer">
					<a href="index">
						<button type="button" class="mui-btn mui-btn-success mui-btn-outlined">
					支付完成
					</button>
					</a>
					<a href="index2">
						<button type="button" class="mui-btn mui-btn-warning mui-btn-outlined">
					线下付款
					</button>
					</a>
					<a href="index">
						<button type="button" class="mui-btn mui-btn-danger mui-btn-outlined">
					放弃订单
					</button>
					</a>

				</div>
			</div>
			
		<script src="../../static/mui/js/mui.min.js"></script>
	</body>

</html>