<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>评价</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<!--标准mui.css-->
		<link rel="stylesheet" href="../css/mui.min.css">
		<!--App自定义的css-->
		<link rel="stylesheet" type="text/css" href="../css/app.css" />
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<button type="button" class="mui-btn mui-btn-primary">提交</button>
			<h1 class="mui-title">评价</h1>
		</header>
		<div class="mui-content">
		
			<div class="mui-card">
				<div class="mui-card-header">骑手配送<br />
				12月12日18：56分左右送达
				</div>
				<div class="mui-card-content">
					<div class="mui-card-content-inner">
						&nbsp;&nbsp;&nbsp;&nbsp;为配送打分<br />
						<h3>☆&nbsp;&nbsp;☆&nbsp;&nbsp;☆&nbsp;&nbsp;☆&nbsp;&nbsp;☆</h3>
						<!--★★★★★-->
					</div>
				</div>
				<div class="mui-card-footer"></div>
			</div>
			
			<div class="mui-card">
				<div class="mui-card-header">麦滋味(手工水饺)<br />
				</div>
				<div class="mui-card-content">
					<div class="mui-card-content-inner">
						&nbsp;&nbsp;&nbsp;&nbsp;为配送打分<br />
						<h3>☆&nbsp;&nbsp;☆&nbsp;&nbsp;☆&nbsp;&nbsp;☆&nbsp;&nbsp;☆</h3>
						<!--★★★★★-->
						<div class="mui-input-row" style="margin: 10px 5px;">
						<textarea id="textarea" rows="5" placeholder="写下您对配送和商家的评价吧..."></textarea>
						</div>
					</div>
				</div>
				<div class="mui-card-footer">
					<div style="height: 50px;width: 100%;">
						<div style="width: 30%;float: left;">
						土豆丝<br />
						土豆丝<br />
						土豆丝<br />
						</div>
						<div style="width: 20%;float: right;">
							赞  | 踩<br />
							赞  | 踩<br />
							赞  | 踩<br />
						</div>	
					</div>
					
		
				</div>
			</div>
				
		</div>
		<script src="../js/mui.min.js"></script>
	</body>

</html>