<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>Hello MUI</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<!--标准mui.css-->
		<link rel="stylesheet" href="../css/mui.min.css">
		<!--App自定义的css-->
		<link rel="stylesheet" type="text/css" href="../css/app.css" />
		<style>
			h5 {
				margin: 5px 7px;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">注册</h1>
		</header>
		<div class="mui-content">
		
				<form class="mui-input-group">
					<div class="mui-input-row">
						<label>手机号</label>
						<input type="text"  class="mui-input-clear" placeholder="请输入手机号">
					</div>
					<button type="button" class="mui-btn mui-btn-primary">获取验证码</button>
					<div class="mui-input-row">
						<label>验证码</label>
						<input type="text"  class="mui-input-clear" placeholder="请输入验证码">
					</div>
					<div class="mui-input-row">
						<label>密码</label>
						<input type="text" class="mui-input-clear" placeholder="请设置登录密码">
					</div>

					
					<div class="mui-button-row">
						<button type="button" class="mui-btn mui-btn-primary" onclick="return false;">注册</button>&nbsp;&nbsp;
						<button type="button" class="mui-btn mui-btn-danger" onclick="return false;">取消</button>
					</div>
				</form>
				
			</div>
		</div>
		<script src="../js/mui.min.js"></script>
		<script>
			mui.init({
				swipeBack: true //启用右滑关闭功能
			});
			 //语音识别完成事件
		
		</script>
	</body>

</html>