<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>Hello MUI</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<!--标准mui.css-->
		<link rel="stylesheet" href="../css/mui.min.css">
		<!--App自定义的css-->
		<!--<link rel="stylesheet" type="text/css" href="../css/app.css" />-->
		 <!--bootstrap-->
       <link rel="stylesheet" href="https://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
		<script src="https://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
     
	
	</head>

	<body>
		
		
		<div class="mui-row">
        <div class="mui-col-xs-12">12</div>
        <div class="mui-col-xs-11">11</div>
        <div class="mui-col-xs-1">1</div>
        <div class="mui-col-xs-10">10</div>
        <div class="mui-col-xs-2">2</div>
        <div class="mui-col-xs-9">9</div>
        <div class="mui-col-xs-3">3</div>
        <div class="mui-col-xs-8">8</div>
        <div class="mui-col-xs-4">4</div>
        <div class="mui-col-xs-7">7</div>
        <div class="mui-col-xs-5">5</div>
        <div class="mui-col-xs-6">6</div>
        <div class="mui-col-xs-6">6</div>
    	</div>
    	
    	<div class="container">
           <div class="row">
               <div class="col-md-4">col-md-4</div>
               <div class="col-md-8">col-md-8</div>
           </div>
           <div class="row">
               <div class="col-md-4">col-md-4</div>
               <div class="col-md-4">col-md-4</div>
               <div class="col-md-4">col-md-4</div>
           </div>
           <div class="row">
               <div class="col-md-3">col-md-3</div>
               <div class="col-md-6">col-md-6</div>
               <div class="col-md-3">col-md-3</div>
           </div>
       </div>
    
    
		<script src="../js/mui.min.js"></script>
	</body>

</html>