<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
       <!--bootstrap-->
    <link rel="stylesheet" href="https://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <title>新增地址</title>
</head>
<body>
<h1 class="btn-info">新增收货地址</h1>
<form role="form" id="from-1">
	<div class="form-group">
		<label for="name" style="display: block;">联系人</label>
		<input type="text" class="form-control" id="name"
			 style="display: block;"  placeholder="姓名">
        <button class="btn btn-success">先生</button>
        <button class="btn btn-danger">女士</button>
	</div>

    <div class="form-group">
		<label for="tel">电话</label>
		<input type="text" class="form-control" id="tel"
			   	   placeholder="收货人电话">
	</div>

	<div class="form-group">
		<label for="zdress">地址</label>
		<input type="text" class="form-control" id="ddress"
			   placeholder="小区/写字楼/学校等">
        <input type="text" class="form-control" id="sdress"
			   placeholder="详细地址">
	</div>
	<button type="submit" class="btn btn-primary">提交</button>
</form>


</body>
</html>