<!DOCTYPE html>
 <html>
    <head>
        <meta charset="UTF-8">
       <title>{{ title }}</title>
        <link rel="stylesheet" href="{{ static_url("style.css") }}">
        <!--bootstrap-->
       <link rel="stylesheet" href="https://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
     </head>
    <body>
    <h2 class="btn-info">旅顺&nbsp;&nbsp;&nbsp;&nbsp;味工厂</h2>
    {% autoescape None %}
    <div class="dropdown">
	    <button type="button" class="btn dropdown-toggle" id="dropdownMenu1"
			data-toggle="dropdown">
		    筛选
		    <span class="caret"></span>
	    </button>
	    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
		    <li role="presentation">
			    <a role="menuitem" tabindex="-1" href="#">智能排序</a>
		    </li>
		    <li role="presentation">
			    <a role="menuitem" tabindex="-1" href="#">距离最近</a>
		    </li>
		    <li role="presentation">
			    <a role="menuitem" tabindex="-1" href="#">销量最高</a>
		    </li>
		    <li role="presentation" class="divider"></li>
		    <li role="presentation">
			    <a role="menuitem" tabindex="-1" href="#">配送速度最快</a>
		    </li>
	    </ul>
    </div>
    <h2 class="btn-danger">筛选</h2>
    <hr>
    <div>
        {% for data in datas %}
        <div style="width:763px;height:180px;"><a href="dandian">
            <img style="width:30%;height:220px;float:left;" class="img-rounded img-responsive" src="/static/shangjia-ico/1.jpg" alt="商标图" />
            <div style="width:61.7%;height:220px;float:right;">
                <h3>{{data[2]}}</h3>
                <h4>{{data[4]}}</h4>
                <h4>{{data[5]}}&nbsp;&nbsp;月销售{{data[6]}}份</h4>
                <h4>起送 ￥{{data[7]}}|配送 ￥{{data[8]}}</h4>
                <h5>距离 1.2km</h5>
                <h5>送达时间 30分钟</h5></div>
        </a></div>
        <br>
        {% end %}

    </div>
     <div>
        <!--如果遇到商家商标图无法刷新的问题，请重置（重新配置）静态文件服务器MD5
        值-->
        <!--部署的时候别忘记将地址都转化为get+MD5，304冲顶是耗时占用三分之一的时间-->
        <!--<img src="{{static_url("shangjia-ico/3.jpg")}}" alt="">-->
    </div>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#"> <span class="glyphicon glyphicon-home"></span>首页</a>
		        <a class="navbar-brand" href="#"> <span class="glyphicon glyphicon-list-alt"></span>订单</a>
		        <a class="navbar-brand" href="#"> <span class="glyphicon glyphicon-user"></span>我的</a>
            </div>
        </div>
    </nav>
</body>
</html>